html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.main-container {
    position: relative;
    width: 100vw;
    height: 100vh;
      user-select: none;
   
}

.fullscreen-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
    background-color: black; 
}
#canvas3{
    z-index: 2;
}
#canvas2{
    z-index: 0;
}
#canvas1{
    z-index: 1;
}
#canvas1,#canvas2,#canvas3{
    position: absolute;
    pointer-events: none;
}
img{
    object-fit: contain;
    width: 20%;
    height: 100%;
}
.cursor{
    cursor: pointer;
}
.info{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
 background: linear-gradient(
    to bottom,
    rgba(128,128,128,0.5),   /* siva ali providna */
    rgba(128,128,128,0.4)   /* skoro puna siva */
  );
    box-shadow: rgba(128,128,128,0.9);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 3px;
    user-select: none;
    
}
.button-wrapper{
    gap: 2%;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}
#button2.active {
     background-color: red;
     transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
#button:hover {
    background-color: green;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#button.takeWin{
    background-color: green;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.info-wrapper{
    gap: 10%;
    width: 30%;
    height: 100%;
}
.muteBtn{
    width: 10%;
    height: 100%;
}
.info button{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2vh;
    width: 30%;
    height: 50%;
    margin: 1%;
    margin-bottom: 1%;
    min-width: 30px;
    min-height: 30px;
    font-size: clamp(10px,2vw,28px);
    cursor: pointer;
}
.flex-center{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
#button.disabled,#gambleBtn.disabled{
    opacity: 0.6;         
    pointer-events: none;
}
ul{
    list-style-type: none;
    width: 33%;
    padding: 0;
    margin: 0;
}
.info-labels{
    text-align: center;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#creditSpan,#cashSpan{
    cursor: pointer;
}
span,button{
    color: white;
}
#creditSpan{
    color: gray;
}

.forBet,.forRound{
    border: 1px solid white;
    border-radius: 1px;
    width: 100%;
    font-size: 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4vw 0 0.4vw; 
    /* ispraviti jer preko resize lose utice */

    
}
.infoForBet{
    margin-top: 15%;
}

.betLine-wrapper{
    display: flex;
    flex-direction: row;
     justify-content: space-around;
    align-items: center;
}

.lines-wrapper,.bet-button-wrapper{
    width: 70%;
    margin-left: 0;
    margin-top: 0;
}
.infoForLines{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#bet{
    color: white;
}
#numofLines{
    color: white;
}
.textInfo{
    display: flex;
    flex-direction: column;
    gap: 1.8vh;
    align-items: center;
}
/*ZA info deo*/


#help-screen {
    visibility: hidden;
    position: fixed; 
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    
    padding-right: 20px;
   
    z-index: 1000; 
      inset: 0; 
}

#help-content {
    left: 0;
    top: 0;
    color: white;
    background-color: #242424;
    box-shadow: 0px 0px 30px 13px rgb(0, 0, 0);
    border: 1px solid #393939;
    padding: 1%;
    margin: 5% 15%;
     max-height: 80vh;          /* ili koliko ti treba */
    overflow-y: auto;          /* ovde se skroluje */
    margin: 5% auto;           /* centriraj u overlayu */
    width: 70%;                /* širina sadržaja */
    
}

#help-content img {
    max-width: 100%;
}

#help-content h2 {
    margin: 1em 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
}

#help-content p {
    text-align: center;
    font-family: 'roboto regular';
    font-size: 2vw;
}

#help-content .value-wrapper p {
    text-align: left;
}


#help-controls-desc, #jackpot-text {
    font-size: 2vw;
    font-family: 'roboto regular';
    text-align: center;
}

#help-controls-desc ul {
    padding: 0 1vw;
}

#help-controls-desc ul li {
    margin: 0.25em 0;
}

#help-content div ul li {
    margin-top: 2%;
}

#jackpot-text ul {
    text-align: center !important;
}

p img {
    width: 1em;
    vertical-align: middle;
}

#table {
    margin: 1em auto;
    padding: 2% 0;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1px;
}

#table.uc {
    display: flex;
    align-items: center;
}

#table p {
    margin: 0.4em 0 0 0;
}

#table .col {
    width: 100%;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#table .col:nth-child(1) {
    grid-column: 1;
}

#table .col:nth-child(2) {
    grid-column: 2;
}

#table .col:nth-child(3) {
    grid-column: 3;
}

#table .col .cell {
    width: 100%;
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex: 1;
}

#table .col .cell img {
    max-height: 4em;
}

#table .col .cell p img {
    width: 11%;
    vertical-align: middle;
}

#table .col .cell .value-wrapper {
    color: yellow;
    margin: 4% 0 0 0;
}

#table .col .cell .value-wrapper p span {
    color: white !important;
}

#table .col .cell .value-wrapper {
    background: rgba(255, 255, 255, 0.1);
    padding: 0.6em;
    border-radius: 0.4em;
    margin-top: 0.7em;
}

#game-lines {
    margin: 3% 0;
}

#game-lines img {
    width: 100%;
}


#close-help-screen {

    position: absolute;
    top: 11%;
    right: 11.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    color: rgba(255, 255, 255, 0.62);
    border-radius: 90px;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}

#game-title-help-screen {
    visibility: hidden;
    position: absolute;
    top: 3.8%;
    left: 0;
    width: 14.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c9c9c9;
    border-radius: 90px;
    pointer-events: none;
    text-shadow: 0 0 30px rgb(0, 0, 0);
    font-size: 2vw;
}

.version-label {
    position: absolute;
    right: 5%;
    bottom: 4%;
    color: white;
}
#close-help-screen{
    cursor: pointer;
}
#help-content::-webkit-scrollbar {
  width: 12px;                       
}

#help-content::-webkit-scrollbar-track {
  background: #1c1c1c;                
  border-radius: 10px;
  margin: 4px;                        
}

#help-content::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9c9c9c, #5a5a5a);
  border-radius: 10px;
  border: 2px solid #1c1c1c;          
  box-shadow: inset 0 0 4px rgba(0,0,0,0.6);
}

#help-content::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ffffff, #888);
}

/* Za gamble deo*/
#autoScreen{
     visibility: hidden;
    position: fixed; 
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
   
    z-index: 1000; 
      inset: 0; 
}
#autoContent{
     left: 0;
    top: 0;
    color: white;
    background-color: #242424;
    box-shadow: 0px 0px 30px 13px rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid #393939;
    padding: 1%;
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.autoDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}
#autoContent input[type="number"] {
    width: 50%;
    height: 15%;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 20px;
    
}
label,button{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif
}
.autoDivBox{
    margin-left: 40%;
    align-self: center; /* centrira po X osi */
    width: 60%; /* opciono - širina div2 */
}
#autoContent input[type="checkbox"] {
    margin-right: 15%;
    box-sizing: border-box;
}
#autoContent button {
    color: black;
    width: 50%;
    height: 20%;
    align-self: center;
    margin-top: 5%;
    box-sizing: border-box;
    border-radius: 10px;
}
#close-auto-screen{
    position: absolute;
    top: 30%;
    right: 32%;
    color: white;
    font-size: 38.4px;
    cursor: pointer;
    z-index: 1001;
}
.infoForRounds{
    width: 40%;
}
.cursor1{

}